

<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
    <div class="card mb-3" style="max-width: 750px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://previews.123rf.com/images/olgamallary/olgamallary1710/olgamallary171000443/87862349-set-of-different-wine-bottles-types-of-wine-flat-design-style-vector-illustration-.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><span class="WineCardName">Bandedra Smoozie</span></h5>
                    <h5 class="card-subtitle">Wine Type: Red</h5>
                    <p></p>
                    <p class="card-subtitle">Wine Components: comtonent 1, component2, component3, component4, component5</p>
                    <p></p>
                    <h5>Price: <span class="WineCardPrice">21$/liter</span></h5>
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <a href="#" class="WineCardActions">Learn More</a>
                        </div>
                        <div class="col-md-5">
                            <a href="#" class="WineCardActions">Compare</a>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="WineCardActions">
                                &#9825
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@code {

}
