.card {
    background: #eef3f7;
    width: 280px;
    min-height: 320px;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    padding: 30px;
    margin-left: 20%;
}

.card-top {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 4;
}

.card-cover {
    width: 240px;
    height: 200px;
    margin-left: -70px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    border-radius: 15px;
    z-index: 1;
}

.card-cover-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.card-section-button {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-button {
    display: inline-flex;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 30px;
    color: #acb8cc;
    cursor: pointer;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.card-down {
    width: 100%;
    margin-top: 10px;
    user-select: none;
}

.card-section-down {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.card-text {
    color: #71829e;
    flex: 1;
    padding-right: 60px;
    user-select: none;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 1.3em;
}

.card-description {
    font-weight: 400;
    font-size: 20px;
    opacity: 0.7;
    line-height: 1.3em;
    min-height: 52px;
}