@using Shared.Components
<div class="col-2" id="sidebar">

    <Rewinery.Client.Shared.Components.WineRecepiesPageFilterList></Rewinery.Client.Shared.Components.WineRecepiesPageFilterList>
    <Rewinery.Client.Shared.Components.WineRecepiesPageFilterList></Rewinery.Client.Shared.Components.WineRecepiesPageFilterList>

    <MudList Clickable="true">
        <MudListItem Text="Price" InitiallyExpanded="true">
            <NestedList>
                <MudListItem>
                    <MudTextField @bind-Value="Amount" Label="Min" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
                </MudListItem>
                <MudListItem>
                    <MudTextField @bind-Value="Amount" Label="Max" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
                </MudListItem>
            </NestedList>
        </MudListItem>
    </MudList>
</div>

@code {
    public double? Amount { get; set; }
}
