@page "/create-wine"

<div class="topicbganimation">
    <div class="container pt-4" style="height: 100vh;">
        <div class="row justify-content-center topicFrozenGlass p-4">

        </div>
    </div>
</div>
@code {

}
