@page "/"

<PageTitle>Home</PageTitle>

<div class="frozen-glass" style="width:90%; height:80%;">
    <div class="position-absolute top-50 start-50 translate-middle text-white">
        <h1>Hello dear customer</h1>
        <p>We have prepared for you many interesting recipes for wine, which you can make yourself or order from us</p>
        <a href="#" class="btn-neon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            start
        </a>
    </div>
    <div class="position-absolute bottom-0 end-0 m-4">©  Rewinery 2022</div>
</div>
