@page "/user-topics"
@using Rewinery.Client.Shared.Components
@using Rewinery.Client.Infrastructure.HttpTopic
@using Rewinery.Shared.TopicGroup.TopicPage
@inject HttpTopicRepository _httpTopic

<div class="user-topic-bg-animation">
    @if (topics != null)
    {
        @foreach (var topic in topics)
        {
            <TopicCard Topic="topic" />
        }
    }

</div>

@code {
    public IEnumerable<ShortTopicDto>? topics;

    protected override async Task OnInitializedAsync()
    {
        topics = await _httpTopic.GetAllShortAsync();
    }
}