@page "/user-topics"



<div class="user-topic-bg-animation">
    <div class="container" style="height: 100vh;">
        <div class="row">
            <div class="col-md-10 frozen-glass" style="max-height = 200px; justify-content: center">
                <div class="" style="">
                    some text rot ebal
                </div>
            </div>
        </div>
    </div>
</div>
