@page "/winerecepies"
@using Rewinery.Client.Shared.Components

<div class="frozen-glass" style="width: 97%; height:80%;">
    <div class="container overflow-hidden pt-4">
        <div class="row gy-5">
            <div class="col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div>
        </div>
    </div>
</div>
