@page "/wine-recipes"
@using Rewinery.Client.Shared.Components
@using Rewinery.Client.Infrastructure
@using Rewinery.Shared.WineGroup.WinesDtos

@inject HttpCategoriesRepository _httpCategories

<div class="wine-recipes-bg-animation" style="min-height: 100vh; height: fit-content; width: 100%;">
    <div class="row" style="--bs-gutter-x: unset; padding-bottom: 50px;">
        <div class="col-3">
            <div class="container overflow-hidden wr-pt">
                <WineRecipeFilters />
            </div>
        </div>
        <div class="col-9">
            <div class="container overflow-hidden wr-pt">
                <div class="row gy-5 wr-mb">
                    @if (recipes != null)
                    {
                        @foreach (var recipe in recipes)
                        {
                            <div class="col-4">
                                <WineRecipeCard wine="recipe" />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between wr-bottom px-5 fix-bottom">
        <div class="pt-3">©  Rewinery 2022</div>
        <div><MudPagination Variant="Variant.Outlined" BoundaryCount="1" MiddleCount="3" Count="15" /></div>
        <div class="pt-3">Powered by reeditor, nzrjed</div>
    </div>
</div>

@code {
    public IEnumerable<WineRecipePageReadDto>? recipes;

    protected override async Task OnInitializedAsync()
    {
        recipes = await _httpCategories.GetAllAsync();
    }
}