@page "/winerecepies"
@using Shared.Components

<div class="container">
    <div class="row">
        <h4>Our Recepies</h4>
    </div>
    <div class="row mt-5">
        <Rewinery.Client.Shared.Components.WineRecepiesPageSideBar></Rewinery.Client.Shared.Components.WineRecepiesPageSideBar>
        <div class="col-10" id="products">
            <div class="container">
                <div class="row">
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                </div>
            </div>
        </div>
    </div>
</div>



    @code {
    public bool Label_CheckBox2 { get; set; } = false;
}
