@page "/winerecepies"
@using Shared.Components

<div class="container">

        
        <div class="col-10" id="products">
            <div class="container">
                <div class="row">
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                    <Rewinery.Client.Shared.Components.WineRecepyCard></Rewinery.Client.Shared.Components.WineRecepyCard>
                </div>
            </div>
        </div>

    </div>



    @code{
        public bool Label_CheckBox2 { get; set; } = false;
        public double? Amount { get; set; }
        public string? Search { get; set; }
}
