@page "/wine-recipes"
@using Rewinery.Client.Shared.Components

<div class="bg-animation" style="height: 200vh;">
    <div class="frozen-glass" style="width: 97%; height:fit-content;">
        <div class="container overflow-hidden pt-4">
            <div class="row gy-5 mb-5">
                <div class="col-4">
                    <WineRecipeCard />
                </div>
                <div class="col-4">
                    <WineRecipeCard />
                </div>
                <div class="col-4">
                    <WineRecipeCard />
                </div>
                <div class="col-4">
                    <WineRecipeCard />
                </div>
                <div class="col-4">
                    <WineRecipeCard />
                </div>
                <div class="col-4">
                    <WineRecipeCard />
                </div>
                <div class="col-4">
                    <WineRecipeCard />
                </div>
                <div class="col-4">
                    <WineRecipeCard />
                </div>
                <div class="col-4">
                    <WineRecipeCard />
                </div>
            </div>
        </div>
    </div>
</div>