@page "/wine-recipes/wine"

@using Rewinery.Client.Shared.Components
@using Rewinery.Client.Infrastructure
@using Rewinery.Shared.WineGroup.WinesDtos

@inject HttpCategoriesRepository _httpCategories

<PageTitle>Wine name</PageTitle>

<div class="wine-bg-animation" style="height: 100vh;">
    <div class="frozen-glass" style="width:80%; height:83%; margin-left: 15%; overflow: unset;">
        <div class="row">
            <div class="col-3">
                <div class="wine-img-cover position-absolute top-50 translate-middle">
                    <img class="wine-img" src="/img/wine-bg-1.jpg">
                </div>
            </div>
            <div class="col-9 px-4">
                <div class="wine-content">
                    <h4 class="fw-bolder wine-name">Wine name</h4>
                    <hr style="width: 90%;margin-left: 5%;height: 2px;" />
                    <div class="row">
                        <div class="col-md-3">
                            <h6 class="pb-3">Type:</h6>
                            <h6 class="pb-3">Variety:</h6>
                            <h6 class="pb-3">Grape:</h6>
                            <h6 class="pb-3">Ingradient:</h6>
                        </div>
                        <div class="col-md-3">
                            <h6 class="pb-3">Red</h6>
                            <h6 class="pb-3">Sweet</h6>
                            <h6 class="pb-3">Viktoriya</h6>
                            <h6 class="pb-3">apple</h6>
                        </div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.</p>
                     <div class="position-absolute bottom-0 end-0 m-4"><button type="button" class="btn btn-secondary">Secondary</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
