.frozen-glass {
    position: relative;
    top: 52.5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: inherit;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

    .frozen-glass:before {
        content: '';
        position: absolute;
        background: inherit;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: -20px;
        box-shadow: inset 0 0 500px rgba(255, 255, 255, .4);
        filter: blur(5px);
        z-index: -1;
    }
